.search_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.search_box label {
    display: flex;
    flex-direction: column;
    width: 100%
}

.search_box label input {
    border-radius: 5px;
    height: 30px;
    padding: 0 10px;
}