.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.contact_form label {
    display: flex;
    flex-direction: column;
    width: 100%
}

.contact_form label input {
    border-radius: 5px;
    height: 30px;
    padding: 0 10px;
}

.contact_form button {
    padding: 10px 20px;
    border-radius: 5px;
}