.contacts_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* color: salmon;
    background-color: crimson;
    border-color: salmon; */
    color: seagreen;
    background-color: cornflowerblue;
    border-color: seagreen;
}
